body{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}



h1{
    text-align: center;
}



button{
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    margin-left: 35%;
    margin-top: 3%;

    border-radius: 20px;
    background: rgba(141, 24, 48, 1);
    color: white;
    font-size: 20px;
    text-align: center;
    width: 128px;
    height: 59px;
    /* margin-left: 18px;
    padding-left:10px ; */
 
}

label{
    font-size: 25px;
}

input{
    width: 90%;
    height: 35px;
    font-size: 20px;
    background: rgba(196, 196, 196, 0.35);
    /* Gray 6 */
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 10px;
}
.col-md-6{
    display: flex;
    flex-direction: column;
}

.form-group{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left:15%;
}

.option{
    font-size: 15px;
}

.wall-post{
    border-radius: 10px;
    background-color: rgb(167, 117, 117);
    margin: 10px;
    height: 100px;
}

.wall-input{
    background-color: darksalmon;
    margin: 10px;
}