body{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h1{
    text-align: center;
}

button{
 
    margin-left: 35%;
    margin-top: 3%;

    border-radius: 20px;
    background: rgba(141, 24, 48, 1);
    color: white;
    font-size: 20px;
    text-align: center;
    width: 128px;
    height: 59px;

}

label{
    font-size: 25px;
}

input{
    width: 90%;
    height: 35px;
    font-size: 20px;
    background: rgba(196, 196, 196, 0.35);
    /* Gray 6 */
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 10px;
}
.col-md-6{
    display: flex;
    flex-direction: column;
}

.form-group{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left:15%;
}

.option{
    font-size: 15px;
}

.wall-post{
    border-radius: 10px;
    background-color: rgb(236, 187, 187);
    margin: 10px;
    height: 150%;
}

.wall-input-edit{
    width: 95%;
    border-radius: 5px;
    margin: 5px;
    font-size: 40px;
    background-color: rgb(236, 187, 187);
    border-color: nrgb(236, 187, 187);;
} 

.btn-post{
    display:flex;
    flex-direction: row;
    justify-content: start;
}

.home-input{
    margin:10px;
    width: 70%;
    height: 60px;
 border-radius: 5px;;

}

.logo{
    width:17%;
    margin-left: 41%;
    margin-top: 3%;
}

.headle{
    display:flex;
    flex-direction: column;
}

header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:rgba(141, 24, 48, 1); 
    color:white
}
.logo-wall{
    width:10%;
    height: 10%;
    margin:6px;

}